body {
	background-color: rgb(210,180,140)
}
h1 {
	text-align: center
}
.vertnavbar {
  	list-style-type: none;
  	background-color: rgb(210,180,140)
}
#logo {
	text-align: center;
}
hr {
	color: black
	background-color: black;
}